{% macro section_title(titel, show_line = true) %}
  <div class="section-title-block">
    {% if show_line %}
      <div class="section-line"></div>
    {% endif %}
    <h2 class="section-title">{{ titel }}</h2>
  </div>
{% endmacro %}

{% macro tag_list(tags) %}
  <div class="tag-list">
    {% for tag in tags %}
      <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>
{% endmacro %}

{% macro dot_scale(wert) %}
  {% set max = 5 %}
  {% set dots = '' %}
  {% for i in 1..max %}
    {% set dots = dots ~ (i <= wert ? '&#9679;' : '&#9675;') %}
  {% endfor %}
  <div class="dot-scale" aria-label="{{ wert }}/{{ max }}">{{ dots|raw }}</div>
{% endmacro %}

{% macro skill_group(gruppe) %}
  <div class="skill-group">
    <p class="skill-level">{{ gruppe.stufe }}</p>
    {{ _self.dot_scale(gruppe.wert) }}
    {% if gruppe.show_technologien %}
      {{ _self.tag_list(gruppe.technologien) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro name_block(name, bereich) %}
  <div class="name">
    <h1 class="name-title">{{ name }}</h1>
    <p class="name-role">{{ bereich }}</p>
  </div>
{% endmacro %}
