{% macro input(label, name, type, value, required = true) %}
  <label>
    {{ label }}
    <input type="{{ type }}" name="{{ name }}" value="{{ value|default('') }}"{% if required %} required{% endif %}>
  </label>
{% endmacro %}

{% macro textarea(label, name, value, rows = 6, required = true) %}
  <label>
    {{ label }}
    <textarea name="{{ name }}" rows="{{ rows }}"{% if required %} required{% endif %}>{{ value|default('') }}</textarea>
  </label>
{% endmacro %}

{% macro captcha(captcha_id, captcha_url) %}
  <label>
    CAPTCHA
    <input type="text" name="captcha_answer" required>
  </label>
  <input type="hidden" name="captcha_id" value="{{ captcha_id }}">
  <div class="section">
    <img src="{{ captcha_url }}" alt="CAPTCHA ist erforderlich, um das Kontaktformular abzusenden." />
  </div>
{% endmacro %}
