{% macro header(eintrag) %}
  <div class="entry-header">
    <div class="entry-title">
      {% if eintrag.show_project %}
        <span class="entry-project">{{ eintrag.project_line }}</span> | {{ eintrag.header_title }}
      {% else %}
        {{ eintrag.header_title }}
      {% endif %}
    </div>
    <span class="entry-time">{{ eintrag.header_time }}</span>
  {% if eintrag.show_location %}
    <div class="entry-location">{{ eintrag.location }}</div>
  {% endif %}
  </div>

{% endmacro %}

{% macro points(punkte) %}
  {% import 'components/cv/lib.html.twig' as ui %}
  <div class="entry-points">
    {% for punkt in punkte %}
      <div class="entry-point">
        {% if punkt.show_tags %}
          <div class="entry-tags">
            {{ ui.tag_list(punkt.tags) }}
          </div>
        {% endif %}
        <ul class="entry-list">
          <li>{{ punkt.text }}</li>
        </ul>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro entry(eintrag) %}
  <div class="entry">
    {% if eintrag.show_company %}
      <div class="entry-company-line">{{ eintrag.company_line }}</div>
    {% endif %}

    <div{% if eintrag.grouped %} class="entry-group"{% endif %}>
      {{ _self.header(eintrag) }}
      {% if eintrag.punkte is defined and eintrag.punkte|length %}
        {{ _self.points(eintrag.punkte) }}
      {% endif %}
    </div>
  </div>
{% endmacro %}
