{% macro motivation(titel, motivation, klasse = '') %}
  {% import 'components/cv/lib.html.twig' as ui %}
  <section{% if klasse %} class="{{ klasse }}"{% endif %}>
    {{ ui.section_title(titel, false) }}
    <div class="section-body">
      <p class="section-text">{{ motivation }}</p>
    </div>
  </section>
{% endmacro %}

{% macro entries(titel, daten, klasse = '') %}
  {% import 'components/cv/lib.html.twig' as ui %}
  {% import 'components/cv/entry.html.twig' as entry %}
  <section{% if klasse %} class="{{ klasse }}"{% endif %}>
    {{ ui.section_title(titel) }}
    <div class="section-body">
      {% for eintrag in daten %}
        {{ entry.entry(eintrag) }}
      {% endfor %}
    </div>
  </section>
{% endmacro %}

{% macro talks(titel, daten, klasse = '') %}
  {% import 'components/cv/lib.html.twig' as ui %}
  {% import 'components/cv/entry.html.twig' as entry %}
  <section{% if klasse %} class="{{ klasse }}"{% endif %}>
    {{ ui.section_title(titel) }}
    <div class="section-body">
      {% for vortrag in daten %}
        {{ entry.entry({
          show_company: false,
          company_line: '',
          show_project: true,
          project_line: vortrag.titel,
          grouped: false,
          header_title: vortrag.beschreibung,
          header_time: vortrag.datum,
          show_location: false,
          location: '',
          punkte: []
        }) }}
      {% endfor %}
    </div>
  </section>
{% endmacro %}

{% macro education(titel, daten, klasse = '') %}
  {% import 'components/cv/lib.html.twig' as ui %}
  <section{% if klasse %} class="{{ klasse }}"{% endif %}>
    {{ ui.section_title(titel) }}
    <div class="section-body">
      {% for eintrag in daten %}
        <ul>
          <li>{{ eintrag.beschreibung }}, {{ eintrag.grad }}, {{ eintrag.uni }}</li>
        </ul>
      {% endfor %}
    </div>
  </section>
{% endmacro %}

{% macro skills(titel, daten, klasse = '') %}
  {% import 'components/cv/lib.html.twig' as ui %}
  <section{% if klasse %} class="{{ klasse }}"{% endif %}>
    <div class="section-body">
      {% for gruppe in daten %}
        {{ ui.skill_group(gruppe) }}
      {% endfor %}
    </div>
  </section>
{% endmacro %}

{% macro languages(titel, daten, klasse = '') %}
  {% import 'components/cv/lib.html.twig' as ui %}
  <section{% if klasse %} class="{{ klasse }}"{% endif %}>
    {{ ui.section_title(titel) }}
    <div class="section-body">
      <ul class="language-list">
        {% for sprache in daten %}
          <li class="language-item">
            <span>{{ sprache.sprache }}</span>
            <span class="language-level">{{ sprache.stufe }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endmacro %}

{% macro interests(titel, daten, klasse = '') %}
  {% import 'components/cv/lib.html.twig' as ui %}
  <section{% if klasse %} class="{{ klasse }}"{% endif %}>
    {{ ui.section_title(titel) }}
    <div class="section-body">
      <p class="section-text">{{ daten|join(', ') }}</p>
    </div>
  </section>
{% endmacro %}
