{% extends 'base.html.twig' %}

{% block content %}
  {% import 'components/site/lib.html.twig' as ui %}

  {{ ui.page_title('Willkommen') }}
  {{ ui.muted('Kurzprofil und Kontakt in reduzierter Form.') }}

  <div class="section">
    <p>{{ ui.link('/cv', 'Zum Lebenslauf') }}</p>
    <p>{{ ui.link('/contact', 'Kontakt aufnehmen') }}</p>
    {{ ui.muted(public_cv_message) }}
  </div>
{% endblock %}
